.masthead {
  background-color: var(--primary-green);
  padding-bottom: 6rem;
  color: var(--text-light);
  text-align: center;
  padding-top: calc(6rem + 104px);
}
.portfolio-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 1rem;
}
.masthead-avatar {
  width: 15rem;
  margin-bottom: 3rem;
}

.masthead-heading {
  font-size: 5rem;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 0;
  font-weight: 700;
  letter-spacing: 0.05rem;
}

.masthead-subheading{
    font-size: 1.5rem;
    font-weight: 500;
}
