:root {
  --primary-green: #1abc9c;
  --secondary: #2c3e50;
  --text-light: #ecf0f1;
  --font-family:
    "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}
#root, .App {
  display: flex;
  flex-direction: column;
  width: 100%;
}

body {
  font-family: var(--font-family);
  color: var(--secondary);
  overflow-x: hidden;
 
  
}

a {        
  text-decoration: none;
}

h1{
  font-size: 5rem;
  line-height: 3.5rem;
  text-transform: uppercase;
  margin-bottom: 0;
  font-weight: 700;
  letter-spacing: 0.05rem;
}
h2{
  font-size: 3rem;
  line-height:2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  
}
.page-section{
  padding: 6rem 0;
  text-align: center;
  width: 100%;
}

p{
  margin-top: 0;
  margin-bottom: 1rem;
}